<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.scoreappcricket">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScoreAppCricket">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".players.PlayersScreen"
            android:exported="true"
            />
        <activity
            android:name=".players.CreatePlayerScreen"
            android:exported="true"
            />
        <activity
            android:name=".players.DeletePlayerScreen"
            android:exported="true"
            />
        <activity
            android:name=".players.PlayersListScreen"
            android:exported="true"
            />
        <activity
            android:name=".players.PlayerAttributesScreen"
            android:exported="true"
            />
        <activity
            android:name=".teams.TeamsScreen"
            android:exported="true"
            />
        <activity
            android:name=".teams.CreateTeamScreen"
            android:exported="true"
            />
        <activity
            android:name=".teams.ChangeTeamNameScreen"
            android:exported="true"
            />
        <activity
            android:name=".teams.TeamsListtoAddNewPlayerScreen"
            android:exported="true"
            /><activity
        android:name=".teams.TeamsListtoDeletePlayerScreen"
        android:exported="true"
        />
        <activity
            android:name=".teams.AddNewPlayerinTeamScreen"
            android:exported="true"
            />
        <activity
            android:name=".teams.DeleteTeamScreen"
            android:exported="true"
            />
        <activity
            android:name=".teams.DeletePlayerfromTeamScreen"
            android:exported="true"
            />
        <activity
            android:name=".teams.TeamsListScreen"
            android:exported="true"
            />
        <activity
            android:name=".teams.PlayersListforTeamScreen"
            android:exported="true"
            />
        <activity
            android:name=".quickmatch.QuickMatchScreen"
            android:exported="true"
            />
        <activity
            android:name=".quickmatch.NormalMatchScreen"
            android:exported="true"
            />
        <activity
            android:name=".quickmatch.StrikerOnlyMatchScreen"
            android:exported="true"
            />
        <activity
            android:name=".quickmatch.SinglePlayerMatchScreen"
            android:exported="true"
            />
        <activity
            android:name=".quickmatch.AutomaticTossScreen"
            android:exported="true"
            />
        <activity
            android:name=".quickmatch.ManualTossScreen"
            android:exported="true"
            />
        <activity
            android:name=".quickmatch.NormalMatchRunningSelectInitialPlayersScreen"
            android:exported="true"
            />
        <activity
            android:name=".quickmatch.NormalMatchRunningScreen"
            android:exported="true"
            />
        <activity
            android:name=".quickmatch.FirstInningsScorecardScreen"
            android:exported="true"
            />


    </application>

</manifest>